[2019-08-20 14:19] robskrob commented on #560
@zefer thank you for these suggestions.

1. I will need to check on this. However, off the top of my head, I do not think the Lambda's VPC is the issue. I have deployed Lambdas that make authenticated HTTP requests to shopify stores publicly available on the internet. Granted, these were GET requests and not POST.
2. I will try that pattern to get more information about the problem

[2019-08-20 14:23] zefer commented on #560
@robskrob 👍. [2] might rule-out [1] anyway, so I would start there.

[2019-09-05 17:13] alexlaj opened #580 "@airbrake/node does not have dependencies listed in published version"
It seems that while both `error-stack-parser` and `tdigest` are listed as dependencies in `@airbrake/node`s `package.json` (https://github.com/airbrake/airbrake-js/blob/master/packages/node/package.json), they do not appear to be listed as dependencies in the published version (https://unpkg.com/browse/@airbrake/node@1.0.0-beta.1/package.json).

After installing `@airbrake/node` and setting it up,

[2019-09-09 09:10] vmihailenco commented on #580
It seems to be already fixed in master branch - https://github.com/airbrake/airbrake-js/blob/master/packages/node/package.json#L19-L20. I will publish the new version once it is ready.

[2019-09-09 09:10] #580 closed

[2019-09-09 17:29] alexlaj commented on #580
Thank you @vmihailenco

[2019-09-13 13:39] rcmgleite commented on #580
Is it published? I'm having the same issue here.

[2019-09-13 13:56] vmihailenco commented on #580
Just pushed 1.0.0-beta.2.

[2019-09-17 10:04] #525 closed

[2019-09-17 10:05] vmihailenco commented on #485
This should be fixed since airbrake-js was split into @airbrake/browser and @airbrake/node and there is no `os` package in @airbrake/browser any more.

[2019-09-17 10:05] #485 closed

[2019-09-20 08:38] MathieuDerelle opened #587 "how to distinguish onerror wrapper VS manual notify ?"
I've got a Vue app where I've integrated airbrake-js

From time to time, there are some errors with no backtrace or that are originating from user's browser extensions.
I'd like to filter those, I think they all come from the `window.onerror` wrapper but before turning the wrapper off, I'd like to be sure.

Is there a way to know if an error comes from the onerror wrapper or from other manual noti

[2019-09-20 13:52] vmihailenco commented on #587
Errors that are reported from `onerror` handler have `context.windowError == true`. There is also a notifier options called `ignoreWindowError` which just ignores such errors:

[code]

[2019-09-20 13:52] #587 closed

[2019-09-24 10:32] #386 closed

[2019-09-24 15:50] robskrob commented on #560
@zefer I may  have time in the near future to look into this again. Can you please clarify this statement:

Are you saying that I should look into option 2 I outlined above?

[2019-09-25 09:49] zefer commented on #560
@robskrob Yes, that's where I would start, because it's possible there is an error for a failing HTTP request which would explain what's happening. Possibly not, depending on what the problem is, but it should be relatively quick and easy to try!

[2019-09-26 10:47] yoonwaiyan opened #590 "@airbrake/node: TypeError: Cannot read property 'Notifier' of undefined"
Hi, I've installed beta3 version of the node notifier but couldn't make it work for my Node (using Serverless framework). Is there something I'm missing out?

[code]

[code]

Btw, how do I use this Notifier without binding the initialization to any call? In Express we can use `app.use()` but in Serverless framework endpoints is this still works?

[2019-09-30 08:58] vmihailenco commented on #590
Until now airbrake/node only support cjs build format so you need to use `const Airbrake = require('@airbrake/node');`. I've added support for esm format.

I don't fully understand the part about 'binding the initialization'...

[2019-09-30 08:59] #590 closed

[2019-10-07 11:52] vmihailenco commented on #560
The problem here is that airbrake-js (and JS generally) sends data via HTTP asynchronously but in serverless environment app exits (paused?) immediately after request is served and airbrake-js does not have any chance to finish sending the error. So the fix is to either send errors synchronously or flush pending errors just before the app exits. To send errors synchronously you can use `await`:

[

[2019-10-08 00:09] teadur opened #596 "Incomplete Rails example"
Currently the  [rails example](https://github.com/airbrake/airbrake-js/blame/master/packages/browser/examples/rails/README.md#L6) includes link to non-existent file as already mentioned in the original pr:
FYI the `dist/client.js` link (https://github.com/airbrake/airbrake-js/blob/master/dist/client.js) returns a 404 in the example.

_Originally posted by @andreierdoss in https://github.com/airbra

[2019-10-08 03:26] eropple opened #597 "Typescript definitions for @airbrake/node?"
Perhaps I’m dense, but when I try to use @airbrake/node my compiler can't find typings anywhere. There are no declarations in the distributed package. This is weird and it's a problem for adopting Airbrake in my current project.

Could we get a package published with the declarations turned on?

Thanks!

[2019-10-08 09:00] vmihailenco commented on #596
I've fixed the link in https://github.com/airbrake/airbrake-js/tree/master/packages/browser/examples/rails - thanks for the report.

[2019-10-08 09:07] vmihailenco commented on #597
Should be done in v1.0.0-beta.7

[2019-10-08 09:07] #597 closed

[2019-10-11 04:27] christiansaiki opened #599 "Missing type definitions in airbrake-js/packages/node/dist/airbrake.d.ts"
So, in IOptions interface we have
[code]

Cannot find name 'Processor'.ts(2304)
Cannot find name 'Reporter'.ts(2304)
Cannot find namespace 'request'.ts(2503)

[2019-10-11 12:00] #599 closed

[2019-10-18 13:18] Yaskovich opened #600 "@airbrake/browser airbrake.d.t - TS2304: Cannot find name 'Processor'"
Package version: "^1.0.0-beta.7"

Issues in `./node_modules/@airbrake/browser/dist/airbrake.d.ts` file:
`TS2304: Cannot find name 'Processor'`

I see you are already fixed it in https://github.com/airbrake/airbrake-js/commit/9971f640feefcfbe805869ef5a779f2d7412c008

Are there any timelines when it will be released in npm?

[2019-10-21 09:57] vmihailenco commented on #600
Done

[2019-10-21 09:57] #600 closed

[2019-10-21 13:45] HunterMeyer opened #601 ""export 'default' (imported as 'Airbrake') was not found in '@airbrake/browser'"
**Environment**: Vue
**Version**: @airbrake/browser, 1.0.0

**Description**
Receiving the following warning when running `yarn run serve`

[code]

I have configured airbrake in the main.js file like so:
[code]

[2019-10-21 15:18] stolenng opened #602 "all previous tags was removed"
Could it be that all previous tags was removed ?

[2019-10-21 16:39] leungtimothy commented on #602
This is an issue for me as well as bower utilizes git tags to install airbrake-js.

[2019-10-21 16:58] stolenng commented on #602
@leungtimothy
you can use: https://www.npmjs.com/package/bower-npm-resolver ,
and then just `"airbrake-js-client": "npm:@airbrake/browser"`.
and then load what u need accordingly from there, only change i had to do is `Airbrake.Notifier`

[2019-10-21 17:17] leungtimothy commented on #602
@stolenng thanks!

[2019-10-22 07:58] vmihailenco commented on #601
Please use `import { Notifier } from '@airbrake/browser'`

[2019-10-22 07:58] #601 closed

[2019-10-22 12:44] HunterMeyer commented on #601
@vmihailenco thank you. Please update the documentation so others don't face the same issue I did.

[2019-10-22 12:45] HunterMeyer commented on #601
Thenk you for the reply and for updating the documentation, @vmihailenco.

[2019-10-22 14:55] kevinmercier commented on #602
Does this mean we're forced to use 1.0.0 if our build pipeline was dependent on tags?

[2019-10-22 16:58] stolenng commented on #602
They changed the library to  a monorepo with 2 packages for browser and node, you need  to use one of them.

[2019-10-22 17:05] vmihailenco commented on #602
If it depends on git tag you can just replace tag with commit hash. Overall using npm packages is the safest path - all the rest is custom and a bit adventurous.

The only thing that was using git tag was bower but it does not work for long time.

[2019-10-28 02:32] morhekil opened #604 "Notifier name change errors when there is no notifier data in the context"
Good day,

we're using `@airbrake/node` package, and we noticed that a move from `1.0.0-beta.7` to `1.0.0` version breaks our notifications with the following error:

[code]

Looking into the code, the problem seems to coming from the recent commit https://github.com/airbrake/airbrake-js/commit/aa6c14fa65e254d7d512fb553da48dd31a138f10. We raise errors just be calling `notifier.notify("error string

[2019-10-28 06:26] vmihailenco commented on #604
Should be fixed by https://github.com/airbrake/airbrake-js/commit/ba833e5019a318c405b396a2e81306ea77597f89

[2019-10-28 06:26] #604 closed

[2019-10-28 10:03] #596 closed

[2019-11-01 21:56] adriantrunzo opened #607 "pg instrumentation creates orphaned promise"
The pg instrumentation is creating an orphaned promise that does not have a catch or rejection handler:

https://github.com/airbrake/airbrake-js/blob/8be9acaea4a9e757d0ebab7eb04bdee7317f425d/packages/node/dist/instrumentation/pg.js#L50

If the original SQL query passed to pg.Client.query fails for some reason (eg duplicate key), the promise branch created above will also get rejected. Because the

[2019-11-04 13:36] vmihailenco commented on #607
Thanks for the detailed explanation - it indeed was needed since I was not aware of such behavior :+1:

[2019-11-04 13:37] #607 closed

[2019-11-07 01:55] builtbyproxy commented on #485
@vmihailenco By this do you mean we should use @airbrake/browser now?
When I run this I now get unexpected errors such as `ReferenceError: window is not defined`

[2019-11-07 03:45] builtbyproxy opened #610 "Error: Unable to resolve module `async_hooks`"
Hello

I am attempting to run `@airbrake/node` in my react-native project. The versions I am running are:
- React-Native: 0.61.2
- @airbrake/node: 1.0.2

When I run my mobile app with this install and using the notifier, I get the error:
`Error: Unable to resolve module async_hooks from node_modules/@airbrake/node/dist/airbrake.common.js`

Do I need to install async_hooks? It's not present in any

[2019-11-07 08:48] vmihailenco commented on #485
Use `npm install @airbrake/browser` or follow instructions from https://github.com/airbrake/airbrake-js/tree/master/packages/browser

What do you run?

[2019-11-07 08:57] vmihailenco commented on #610
async_hooks is a Node.js core module - it should be available automatically.

Why don't you use @airbrake/browser with React native? I am not familiar with React native so I can miss something obvious...

[2019-11-08 01:24] builtbyproxy commented on #485
Thanks for getting back to me vmihailenco, in order to not distract the participants of this thread, lets continue this here https://github.com/airbrake/airbrake-js/issues/610

[2019-11-08 01:25] builtbyproxy commented on #610
Ive pivoted from browser because of the error I mentioned here:
https://github.com/airbrake/airbrake-js/issues/485

Lets continue that conversation here?

Hey I run this:

[code]

[2019-11-08 07:19] vmihailenco commented on #610
It seems to be the right thing to do - are there any issues?

[2019-11-10 22:06] builtbyproxy commented on #610
@vmihailenco
When I run this I now get unexpected errors such as `ReferenceError: window is not defined`

[2019-11-10 22:19] builtbyproxy commented on #610
Update, this wasn't anything to do with Airbrake sorry, my jest was running as well and I was getting this error from tests.

The fix was to add to my jest config in my `package.json`:
[code]

[2019-11-10 22:19] #610 closed

[2019-11-12 10:58] michowski opened #612 "Protect against document.location being null"
Hi! Our app is using airbrake directly in the NextJs's App's `componentDidCatch` and so it catches 100% of our client-side errors. However, due to our E2E environment (cypress) being unstable, `document.location` may happen to be `null`. I believe it results sporadically in the uncaught `Cannot read property 'pathname' of null` we're experiencing, which I highly suspect is the airbrake function it

[2019-11-12 12:42] #612 closed

[2019-11-12 13:58] michowski commented on #612
Hi @vmihailenco, thank you for your quick reaction! May I know how long does it take until it makes it onto an npm release?

[2019-11-12 14:16] vmihailenco commented on #612
Just pushed v1.0.4

[2019-11-12 14:54] michowski commented on #612
Thank you very much! 🙇

[2019-11-12 17:40] #602 closed

[2019-11-12 17:56] vmihailenco commented on #314
This is already done for fetch - https://github.com/airbrake/airbrake-js/blob/master/packages/browser/src/instrumentation/fetch.ts#L36-L38. As for the rejected notices - they can be handled better in Airbrake backend.

[2019-11-12 17:56] #314 closed

[2019-11-20 19:47] adriantrunzo opened #616 "Permission denied to access property "error""
From Firefox users at least, airbrake has occasionally been sending us reports with the error message:

`Permission denied to access property "error"`

With the only line in the stack trace being this one in the DOM instrumentation:

https://github.com/airbrake/airbrake-js/blob/f604ba8a592f7fa6027072942e7a475c5a67a89e/packages/browser/src/instrumentation/dom.ts#L13

From what I can tell this seems

[2019-11-20 22:31] adriantrunzo opened #617 "Add a changelog?"
It would be great if both the node and browser packages had a changelog. Looking at commit history works for now, but at least highlighting more significant changes, such as automatic instrumentation, would be very helpful.

[2019-12-09 08:36] #616 closed

[2019-12-19 18:49] rbjarnason opened #620 "Exception in production: can not report queries stats (socket hang up)"
I've recently upgraded to @airbrake/node and I'm getting those errors in our apps logs on production. Any ideas?

Our apps are hosted on Heroku.

FetchError: request to https://api.airbrake.io/api/v5/projects/124117/queries-stats?key=XXXX failed, reason: socket hang up
    at ClientRequest.<anonymous> (/app/node_modules/node-fetch/lib/index.js:1455:11)
    at ClientRequest.emit (events.js:198:13)

[2019-12-19 18:51] rbjarnason commented on #620
This is intermittent but still 15 errors in the past 24 hours and 94 since we launched the update a week ago.

[2020-02-05 04:17] kyrylo opened #629 "Document APM method calls"
The notifier supports some APM functionality but none of that is documented in the README or in examples. It would be nice to clarify how to use it in the docs.

[2020-02-27 13:56] MathieuDerelle opened #630 "how to use multiple errors in one notice ?"
Is it possible to `airbrake.notify` with multiple errors at once ?

In my experiences, the stacktrace of errors thrown by ajax libraries do not have anything to do with our code

ex : complete stacktrace of an axios error
[code]
nothing from my app

airbrake v3 API can contain multiple errors per notice

It would be nice to be able to either
- create our own new error and `airbrake.notify([myError

[2020-03-04 20:33] frehner opened #631 "React error boundary errors are not actually sent"
Following the docs here https://github.com/airbrake/airbrake-js/tree/master/packages/browser/examples/react

I tried adding params to the notify call but they never showed up in Airbrake. I then discovered that they aren't sent in the network API call either. Further digging revealed the following:

1. `window.onerror` is being called _before_ the React error boundary is being called
2. When the e

[2020-03-04 21:09] frehner commented on #631
Turns out that adding `{ignoreWindowError: true}` itself throws an error:

[code]
on this line https://github.com/airbrake/airbrake-js/blob/master/packages/browser/src/notifier.ts#L50

looks like it supposed to be deprecated

[2020-03-04 21:26] frehner commented on #631
ah. it appears that when react is in dev mode, it _throws the error again_ (to go to `window.onerror`) and then catches the new one that it threw.

In production mode, react doesn't throw again so the boundary should be the only one that reports it.

[source: react issues](https://github.com/facebook/react/issues/12897#issuecomment-410036991)

[2020-03-30 14:42] sgray commented on #631
Hi, @frehner. Were you able to get this issue sorted out? I'm unclear on whether or not there is a problem here.

[2020-03-30 15:15] frehner commented on #631
I thought that had solved it, but from what I’ve been seeing it still appears that the window.onerror handler is catching the error most of the time, instead of the error boundary. Which means I’m missing out on the additional information the error boundary adds but the window handler doesn’t

[2020-04-02 19:38] samuelg opened #641 "RangeError: Maximum call stack size exceeded due to mysql instrumentation"
We went live with airbrake integration in one of our applications on March 18th and started seeing our application crash 2-3 times a day since starting on the 19th (24 times in total so far). We keep 2 months worth of logs and have never seen this before going live with the airbrake integration.

We are actually receiving an airbrake for this error, which is good.

The error seems to point to the

[2020-04-02 20:07] sgray commented on #641
Hi, @samuelg. Thanks for the report. Yes, we can add an option for that. I should be able to get to it pretty soon. As for the underlying bug, I'll try to reproduce it using the information you've provided and get back to you.

[2020-04-08 11:30] sgray commented on #617
Closed by a1a0b8a066e8360cdd28b0426d7f36a6b80f5183

[2020-04-08 11:30] #617 closed

[2020-04-09 13:32] sgray commented on #641
I've released version `1.0.7` with the additional config option. Please let me know if anything else is needed.

[2020-04-09 13:32] #641 closed

[2020-04-09 13:36] sgray commented on #631
Can you please elaborate on this? I'm confused by the "most of the time" part. Under what circumstances does the error boundary catch the error instead of the `window.onerror` handler?

[2020-04-09 13:38] sgray commented on #620
Hi, @rbjarnason. Sorry for the delay. Are you still experiencing this issue?

[2020-04-09 13:39] #560 closed

[2020-04-09 14:36] sgray commented on #535
Closing due to inactivity. Please reopen if this is still an issue.

[2020-04-09 14:36] #535 closed

[2020-04-09 14:37] #349 closed

[2020-04-09 16:00] frehner commented on #631
Looking through the airbrake error log for a project, it appears that none of the errors that I looked through were caught by the ErrorBoundary and instead all were caught by the window.onerror listener.

I'll try clean some stuff up with the ErrorBoundary, and possibly also add a `console.error('in error boundary')` in the render of the ErrorBoundary (which should then be added to the breadcrumbs

[2020-04-09 17:18] sgray commented on #631
Sounds good. Yep, your `console.error` should be added to the Breadcrumbs. Let me know how it goes.

[2020-04-16 15:27] samuelg commented on #641
We have *not* had another reoccurrence of this issue since upgrading to `1.0.7` a week ago. Thanks gain!

[2020-04-22 16:02] frehner commented on #631
Things are looking good after cleaning some stuff up. I'll close this for now; thanks for your help.

[2020-04-22 16:02] #631 closed

[2020-04-22 20:49] #620 closed

[2020-04-23 15:52] sgray opened #663 "Flaky test on Node 10"
Getting timeouts fairly often when running tests on Node 10.

Error message:
[code]

Example failure: https://github.com/airbrake/airbrake-js/runs/612490427

[2020-04-26 16:58] jgelsey opened #668 "Bug "can not report routes stats""
airbrake.js fails with:
`can not report routes stats Error: json: cannot unmarshal object into Go struct field RouteStatStage.routes.route of type string
    at /home/ubuntu/sharelock/node_modules/@airbrake/browser/dist/http_req/fetch.js:47:27
    at process._tickCallback (internal/process/next_tick.js:68:7)
`
More complete logs attached here:
[airbrake-error-log.txt](https://github.com/airbrake/a

[2020-04-27 05:54] pleinonen opened #669 "@airbrake/browser apparently imports node types"
After updating from 1.0.6 to 1.1.0 I saw this compilation error in my Angular app:

error TS2322: Type 'Timeout' is not assignable to type 'number'.
const blurTimeout: number = setTimeout(() => { ... }

In browser correct return type for setTimeout is number so error is not valid. After I reverted back to 1.0.6 problem went away. Timeout is used in Node, could it be that latest version of @airbrak

[2020-04-27 13:54] sgray commented on #669
Thanks for the report. I haven't been able to reproduce this issue locally. The steps I've taken:

1. `npm i -g @angular/cli`
1. `ng new test-app`
1. `cd test-app`
1. `npm i @airbrake/browser`
1.
[code]
1. `npm run build`
1. Observed no compilation errors

Can you please provide steps to reproduce the issue? Perhaps your app has some different options set in your tsconfig?

[2020-04-27 15:29] sgray commented on #668
Thanks for the detailed report. I've identified the problem and will work on getting a fix released as soon as possible.

[2020-04-27 18:25] jgelsey commented on #668
Thanks for the quick response, Steve!

[2020-04-28 11:20] #668 closed

[2020-04-28 13:57] sgray commented on #668
👍 No problem. Just released v1.1.1. Please give it a try and let us know if you run into any other issues.

[2020-04-30 03:48] pleinonen commented on #669
Thank you for taking look at this. While the tsconfig could be the reason, I do not quite understand why problem went away after downgrade back to 1.0.6.

My project is an Yarn workspace setup and one other project is a Node Express backend, where I am using @airbrake/node version 1.1.0. I do also have multiple tsconfig's and on the root level I do have following type root setting in case that mat

[2020-04-30 10:53] sgray commented on #669
We changed the build setup when we bumped to version 1.1.0, so I think the answer lies somewhere in that change.

I've created https://github.com/sgray/angular-test-app/ and invited you as a collaborator. I followed basically the same steps I described above, and did make sure to import and use Airbrake as you suggested. I still can't recreate the compilation issue you've run into. When you have t

[2020-04-30 12:03] jnpwebdeveloper opened #678 "Prerender fails due to reliance on window"
We're having an issue where our build fails due to the browser package not correctly checking if the global `window` object exists.

We looked at several options and think perhaps the best place to fix this would be directly here. Is this something you can help with or point us in the right direction? This is the error we are getting after running `npx preact build --verbose`:

![image](https://us

[2020-04-30 13:17] sgray commented on #678
Thanks, I'll take a look. Are you using `@airbrake/browser` `1.1.1`?

[2020-04-30 13:24] jnpwebdeveloper commented on #678
Thank you. Yes we are.
[code]
For now we've wrapped the notifier ourselves here which seems to work on our end but feels a bit clunky. Would be nice to have this part and parcel of the package.
[code]

[2020-05-01 15:03] #663 closed

[2020-05-02 13:35] jgelsey commented on #668
BTW your fix works great, thanks again for the quick resolution.

[2020-05-04 11:47] sgray opened #688 "Add performance filters"
Allow users to define filters to prevent sending performance data. It should function similarly to our [Ruby implementation](https://github.com/airbrake/airbrake-ruby/#airbrakeadd_performance_filter.).

[2020-05-05 14:21] #678 closed

[2020-05-08 14:38] tempofeng commented on #669
Not exactly the same error, but @airbrake/node includes @airbrake/browser as well.
[code]

[2020-05-08 15:50] sgray opened #699 "Cannot find name 'PromiseRejectionEvent'"
Not exactly the same error, but @airbrake/node includes @airbrake/browser as well.
[code]

Removed @airbrake/browser gave me following error:
[code]

_Originally posted by @tempofeng in https://github.com/airbrake/airbrake-js/issues/669#issuecomment-625847453_

[2020-05-08 15:51] sgray commented on #699
@tempofeng I pulled this from #669 because I don't want it to diverge from the original error. Are you excluding `node_modules` in your tsconfig?

[2020-05-08 15:53] sgray commented on #669
@pleinonen friendly ping on this. I also wanted to check if you are excluding `node_modules` in your tsconfig.

[2020-05-09 09:46] tempofeng commented on #699
No I didn't. my tsconfig:
[code]
Switching back to 1.0.7 fixed the problem.

[2020-05-11 04:18] pleinonen commented on #669
I did take a look at this on your repo and could not reproduce build error. You can kinda see there error though, when hovering over the setTimeout-function and go see the definitions in VS code, you can see that function has been defined in globals.d.ts T(Node) and lib.dom.d.ts (Browser). While I need to figure out why on my project Node is resolved compile time, do you think it's ok to see Node

[2020-05-11 04:36] pleinonen commented on #669
After googling for similar issues I resorted to explicitly use window-version (setTimeout => window.setTimeout) and it seems to work fine.

[2020-05-13 10:53] sgray opened #702 "Extract core functionality into a new package"
Currently, `@airbrake/node` relies on `@airbrake/browser`, which isn't ideal. An `@airbrake/core` package should be extracted so any shared functionality can reside there and the `browser` and `node` packages can have better separation.

[2020-05-13 10:59] sgray commented on #669
I see that `@types/node` is included in `devDependencies` by default in a new Angular CLI app, so yes, I do think it's okay. Also, `@types/node` is a dependency of `@angular-devkit/build-angular`, so even if you were to remove `@types/node` from your `package.json`, I think you would still encounter the same issue you're describing.

Yes, definitely. I plan to extract a `core` package that the `br

[2020-05-13 10:59] #669 closed

[2020-05-13 11:03] sgray commented on #699
@tempofeng are you able to provide a method of reproducing this error? A sample app, a gist, etc.? I'm not entirely sure it's something I can fix with our current setup of `@airbrake/node` depending on `airbrake/browser`, but I'm happy to take a look if I have a reliable way to reproduce the error locally. https://github.com/airbrake/airbrake-js/issues/702 is likely the "correct" fix for these typ

[2020-05-15 11:59] matteo-tweak commented on #699
Same issue here, only way is to use `@airbrake/node@1.0.7`

[2020-05-15 14:21] sgray commented on #699
Any help with an example app that exhibits this error would be greatly appreciated.

[2020-05-15 15:42] tempofeng commented on #699
I don't have an example because we decide to drop airbrake and remove the test app.

But TBH, I already pointed out that in your `scope.d.ts`, there is an import from `@airbrake/browser`, and it should not be there.
You don't need an example to fix this.

[2020-05-26 10:38] #699 closed

[2020-05-28 18:46] #688 closed

[2020-05-29 15:25] GimpMaster opened #731 "README documentation errors"
I noticed in the README a couple issues.

The first one is in the first paragraph where it says if you are looking for the node-js version click here. However this README IS for the node-js version. I'm guess you meant to say if you are looking for the browser version click here.

Also another issue is with the example of try/catch code example as seen below

[code]

I believe it should look like

[2020-05-29 15:31] sgray commented on #731
Thanks, @GimpMaster. I'll get those cleaned up.

[2020-06-01 17:08] #731 closed

[2020-06-02 16:04] MathieuDerelle opened #737 "missing doc for instrumentation options (onerror in particular)"
### Relevant Package
@airbrake/browser

### Description
the doc on instrumentation is really short, only mentioning `console`
but there is at least another possible option `onerror`
(the old deprecated `options.ignoreWindowError` and even older `options.onerror`)

are there any other possible options ?

[2020-06-04 15:47] scottsbaldwin commented on #702
@sgray, can you please add an estimate label to this issue?

[2020-06-11 16:34] alanmoo opened #745 "Indicate Node compatibility"
# 🐞 bug report

### Affected Package

 The issue is caused by package @airbrake/node

### Is this a regression?

 No

### Description

Upon trying to upgrade from `airbrake` to `@airbrake/node` in an environment using Node 8, things seem to break because Node 8 doesn't support `promise.prototype.finally`.  That's fine, but it would be helpful to indicate Node compatibility in the package somewhere

[2020-06-12 07:07] kebetsi opened #746 "Can't filter out operational errors anymore using custom flag in error object."
# A way to filter out operational errors

### Relevant Package
Upgraded from airbrake-js@1.6.8 to @airbrake/node@1.1.2 + airbrake/browser@1.1.2

### Description
I used to flag operational errors so they wouldn't get reported to airbrake by a flag in the error that was caught by the express error middleware using the filter as following:

[code]

With the new version of airbrake (@airbrake/node), t

[2020-06-17 11:38] sgray opened #749 "Rename keysBlacklist"
The technology industry has began moving away from terms such as master/slave and whitelist/blacklist.

- https://github.com/rails/rails/issues/33677
- https://github.com/airbrake/airbrake-ruby/pull/580
- https://twitter.com/leahculver/status/1269109776983547904

[2020-06-17 12:35] froozeapp commented on #749
What's the problem with the terminology? It basicallly describes the functions. What if someone has a "Masters Degree" is that bad?

[2020-06-19 10:47] #749 closed

[2020-07-24 12:41] danman01 opened #784 "add keysAllowlist option"
# feature request: add keysAllowlist option

### Relevant Package
This feature request is for @airbrake/browser

### Description
Add option to Notifier for an allow list of parameters (opposite of keysBlocklist), where all parameters a set to "FILTERED" by default, unless specifically allowed.

### Describe the solution you'd like

Building on the keysBlocklist feature in @airbrake/browser,

in sr

[2020-07-31 06:07] ryan2johnson9 opened #790 "Cannot read property '_ignoreNextWindowError' of undefined"
[code]
Successfuly reports my error but also reports an error from within the airbrake.js code:

`TypeError:  Cannot read property '_ignoreNextWindowError' of undefined`

which is from this part of the Airbrake code:

[code]

I downloaded that from https://unpkg.com/@airbrake/browser@1.4.0/umd/airbrake.js
as suggested in this help page:
https://airbrake.io/docs/installing-airbrake/installing-airbr

[2020-08-23 16:41] AbdallahBedir opened #814 "Integration with next.js gives Module not found: Can't resolve 'async_hooks'"
# 🐞 bug report

### Affected Package

The issue is caused by package @airbrake/node

### Is this a regression?

No

### Description
When I use @airbrake/node with next.js, I always got
`error - ./node_modules/@airbrake/node/esm/scope.js:2:0
Module not found: Can't resolve 'async_hooks'`
I hope you create an example of integration with next.js

## 🔥 Exception or Error
<pre>error - ./node_modules/@a

[2020-09-03 08:21] cduez opened #826 "Sourcemap are not found."
# 🐞 bug report

### Affected Package

The issue is caused by package @airbrake/browser

### Is this a regression?

not sure

### Description

Hey guys,

I am using airbrake-js/browser and I can see in the context that the sourcemap URLs are incorrect.

If you look at https://.../v2/js/index.3df4accd.js, you will see that there is a `//# sourceMappingURL=index.3df4accd.js.map` at the bottom of the

[2020-09-04 18:42] joaoggnogueira opened #829 ""Uncaught undefined" and "Uncaught false" is not showing in console"
# 🐞 bug report

### Description

I getting some errors on mobile devices that aren't appearing on the console. Sometimes any other API "Throw undefined". Like `throw undefined;` or `throw false;` or `throw "";`

`throw true` and `throw 123` is showing.

These errors have the potential to disrupt the execution of the script. But currently is ignored by AirBrake.

## 🔬 Minimal Reproduction

Put "thr

[2020-09-08 07:40] cduez commented on #826
Looks like the urls weren't publicity accessible after all, closing this.

[2020-09-08 07:40] #826 closed

[2020-09-08 10:49] benjclark opened #832 "Uncaught ReferenceError: global is not defined"
# 🐞 bug report

### Affected Package
The issue is caused by package @airbrake/browser

### Is this a regression?
No

### Description
If I `import { Notifier } from @airbrake/browser` and bundle using Rollup and the Rollup plugins needed to process your package code then I see `Uncaught ReferenceError: global is not defined` in the browser when the bundle is executed.

## 🔬 Minimal Reproduction
I h

[2020-09-11 12:28] akauppi opened #834 "Unable to use with Rollup, targeting ES modules"
# 🐞 bug report

### Affected Package

The issue is with `@airbrake/browser`.

### Is this a regression?

I am new to Airbrake, so haven't tried this with previous versions.

### Description

I have a [project](https://github.com/akauppi/GroundLevel-es6-firebase-web) that builds a web app. Unlike most currently web apps, this one uses ES modules all the way to the browser. No traditional bundler in

[2020-09-22 11:34] akauppi commented on #834
Knock knock

[2020-09-24 07:03] akauppi commented on #702
This looks like work-as-usual to me, however is undone 4 months later.

Does this show general disregard on the JavaScript client, by Airbrake? If so, I better look for alternatives that are well maintained.

[2020-09-25 21:28] scottsbaldwin commented on #702
Hi @akauppi, we had to prioritize some other work above this issue. That other work is finishing up soon though and then we can pick this up.

[2020-10-05 13:16] benjclark commented on #834
I think this is related to the issue I reported as well: https://github.com/airbrake/airbrake-js/issues/832

I also see the warning `The 'this' keyword is equivalent to 'undefined' at the top level of an ES module, and has been rewritten` in the console with my issue.

[2020-12-07 15:00] yosiat opened #892 "@airbrake/node - enable async_hooks by default"
Hi,

I upgraded from airbrake-js to `@airbrake/node`,  in high traffic service we saw a huge performance degradation which seems to happen by enabling async_hooks by default.

Important to mention - that in the past, for the exact service we enabled async_hooks and saw a performance degradation.

Is it possible to use `@airbrake/node` with async_hooks disabled (and without the overhead of the perf

[2020-12-07 18:59] scottsbaldwin commented on #892
@yosiat, we'll take a deeper look and investigate. Thanks for letting us know.

[2020-12-08 16:06] yosiat commented on #892
quick update: we did the redeploy of the changes we did yesterday, but with airbrake-js and not airbrake/node and we had no performance regression.

@scottsbaldwin if you want, I can try and make a PR that will initialise the scope manager only if performance stats is enabled.

[2020-12-08 20:58] scottsbaldwin commented on #892
@yosiat that would be great to see your PR!

[2020-12-11 10:55] yosiat commented on #892
@scottsbaldwin created a PR here - https://github.com/airbrake/airbrake-js/pull/894

let me know what you think about it!

[2020-12-22 09:08] adititipnis commented on #631
@frehner can you elaborate on how did you fix this?

[2020-12-22 19:52] #892 closed

[2020-12-24 15:39] mirzapourh commented on #814
Any ideas when this will be resolved?

[2020-12-24 18:40] AbdallahBedir commented on #814
@mirzapourh  If you work with next.js, check this example with sentry https://github.com/vercel/next.js/tree/canary/examples/with-sentry

[2021-01-19 17:18] thompiler commented on #814
Hi @AbdallahBedir,

Would it be possible for you to import the `@airbrake/node` package on the `_error.js` page only when running on the server? Here's an example of what worked in my own testing:

## Example of `pages/_error.js`

[code]

## Example of `pages/_error.js` that has the reported issue

[code]

[2021-01-27 07:48] boris-petrov opened #915 "Allow disabling handling of `unhandledrejection`"
# 🚀 feature request

### Relevant Package
This feature request is for `@airbrake/browser`.

### Description
[Looking at the code](https://github.com/airbrake/airbrake-js/blob/v1.4.2/packages/browser/src/notifier.ts#L41), you can see that a handler for `unhandledrejection` is always registered and errors from it are always notified. I want an option to disable that because I have my own handling of

[2021-01-27 17:54] jlowcs opened #916 "[@airbrake/browser] warning caused by incomplete esm sourcemaps"
# 🐞 bug report

### Affected Package

`@airbrake/browser`

### Is this a regression?

Yes, I don't remember seeing these warnings in `1.0.6`.

### Description

Multiple warnings are appearing when compiling with webpack using the `esm` build.

Example:
![image](https://user-images.githubusercontent.com/3777724/106031567-b7053280-60cf-11eb-8cc2-2c057047bdd2.png)

This seems to be caused by the `"so

[2021-02-02 19:11] thompiler commented on #814
Hi @AbdallahBedir, I believe we've addressed your question but please feel free to reopen this issue if you have any pending questions or problems.

We'll work on adding a Next.js example to list too. 👍

[2021-02-02 19:11] #814 closed

[2021-02-03 08:01] AbdallahBedir commented on #814
Hello @thompiler
Thanks but how can I upload the source maps to have meaningful errors in production?

[2021-02-03 19:04] thompiler commented on #814
Hi @AbdallahBedir! Here's our doc on uploading source maps to Airbrake: https://airbrake.io/docs/features/private-sourcemaps/

[2021-02-10 16:37] r4geee commented on #631
[code]

I had the same issue and this seems to have fixed it

[2021-02-12 22:11] charle692 opened #935 "Webpack attempting to load Typescript declaration files and maps during compilation"
# 🐞 bug report

### Affected Package
The issue is caused by package @airbrake/node

### Is this a regression?

Not entirely sure about this part, I guess no? But this was not previously an issue in earlier versions such as `1.0.1`.
Once the automatic instrumentation was added this became an issue.

I've only recently tried to use this package but found that I couldn't.

### Description

Whenever a

[2021-02-13 03:29] mustafahussin22 opened #937 "بتظهر الرسالة دى اثناء التشغيل"
# 🐞 bug report
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Data;
using System.Data.SqlClient;

namespace project1.forms
        {
    class db
        {
        public static SqlConnection conn = new SqlConnection(@"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=@datadirectory\\project1.mdf;Integrated Securit

[2021-02-13 03:29] #937 closed

[2021-02-18 21:56] Thunberg087 commented on #790
I opened a Pull Request related to this issue. Needs testing. https://github.com/airbrake/airbrake-js/pull/944

[2021-02-19 12:00] kyrylo commented on #790
Nice one, I confirmed that #944 fixed the issue 👍

[2021-02-19 12:00] #790 closed

[2021-02-19 12:04] kyrylo commented on #935
Fixed by https://github.com/airbrake/airbrake-js/pull/936.

[2021-02-19 12:04] #935 closed

[2021-02-19 16:47] 321ckatz123 opened #947 "@airbrake/browser has debugger; statement left in"
# 🐞 bug report

### Affected Package
The issue is caused by package @airbrake/browser

### Is this a regression?
Yes, the previous version in which this bug was not present was: 1.4.2

### Description
A debugger; statement was left in accidentally in v2.1.0.

This only appears to be in the dist of 2.1.0 as I cannot find it quickly in the source code, but if you look at base_notifier.js, it's here

[2021-02-20 09:52] kyrylo commented on #947
Blimey! Not sure how this happened, thanks for reporting!
Should be fixed in https://www.npmjs.com/package/@airbrake/browser/v/2.1.1

[2021-02-20 09:52] #947 closed

[2021-02-22 15:45] 321ckatz123 commented on #947
Thanks @kyrylo

[2021-03-15 16:44] sorokinvj commented on #413
hey guys, sorry for reopening this, but I do everything explained in the docs to upload my private source maps, but in the end I don't see "usedSourceMaps" property in context,

Though if I trigger error manually by
[code]
then I do have error:
[code]
All names, filenames and patterns are correctly set. Sourcemaps upoaded, I see them when do API request

[2021-03-31 12:46] zkrige opened #989 "sourceMapErrors: unsupported protocol scheme "chrome-extension""
# 🐞 bug report

### Affected Package

The issue is caused by package @airbrake/node

### Is this a regression?

Not sure

### Description

 A clear and concise description of the problem...
"sourceMapErrors": {
    "chrome-extension://mgfnoholgmbdfaianbopacjnmadhekna/vendor/ember/ember.js": "Get \"chrome-extension://mgfnoholgmbdfaianbopacjnmadhekna/vendor/ember/mgfnoholgmbdfaianbopacjnmadhekna/ven

[2021-03-31 23:46] thompiler commented on #989
Hi @zkrige,

Are you using our [private source maps feature](https://airbrake.io/docs/features/private-sourcemaps/)? If not, how are you specifying the source map to the minified JS?

Some other options:
- [Standard, publicly accessible source maps](https://airbrake.io/docs/features/public-sourcemaps/) (probably not since it sounds like you're tracking a Chrome extension which does not have public

[2021-04-01 05:38] zkrige commented on #989
thank you so much for the quick response
We're using custom source maps and uploading our our source maps

[code]

[2021-04-01 18:23] thompiler commented on #989
I'm not sure you need to use custom source maps here. At least, you should try to use the standard, private source map pattern matching first since it's simpler.

#### Here's how it works

If you have a minified file like `chrome-extension://mgfnoholgmbdfaianbopacjnmadhekna/vendor/ember/ember.js` in your Airbrake error backtrace, then Airbrake will look in your uploaded, private source maps for an

[2021-04-06 13:39] zkrige commented on #989
hmm... so the problem is that it shouldn't be showing that ember.js error - that's only part of the call stack. I need to see where the error originated from in our code.

[2021-04-06 14:17] zkrige commented on #989
I've added stack trace to context.log and im getting this
[code]

but airbrake is showing me
[code]

we're using a custom error handler:

[code]

self.logMessages is an array of all console messages

[2021-04-08 05:45] zkrige commented on #989
Thank you very much for the detailed response.

here is my upload script

[code]

its possible my pattern is wrong - let me try with the pattern you have suggested

[2021-04-08 17:32] thompiler commented on #989
Sounds good! Let us know if you have any issues after updating the pattern.

The sourceMapErrors should not necessarily be an issue. They are just indicating that Airbrake doesn't think `chrome-extension://.../ember.js` is a public URL. After Airbrake checks for a source map at a public URL, it will look for a privately uploaded source map to use. As long as your errors' backtraces look unminified

[2021-04-15 15:30] paulvonber opened #1000 "TypeError: undefined is not an object (evaluating 'e.searchParams.append')"
# 🐞 bug report

### Affected Package
"@airbrake/browser": "^2.1.3"

### Description
Seems like after upgrading to v2.1.3 strange things appear in error notifier, so shortly error notifier producing errors by itself
Here few screenshots from airbrake panel:
![image](https://user-images.githubusercontent.com/37245111/114895555-e2b2d180-9e0f-11eb-94a7-5a7158ac1acf.png)
![image](https://user-images.gi

[2021-04-15 18:56] scottsbaldwin commented on #1000
@kyrylo can you please take a look at this?

[2021-04-16 11:31] itb2k13 commented on #1000
Getting this also - I think connected with older browsers not having 'Object.entries' - and then the notifier creates it's own error which creates another error and so forth.

![image](https://user-images.githubusercontent.com/12815952/115018338-9dde7780-9eaf-11eb-86b8-b99e20d2a92b.png)

[2021-04-16 11:44] itb2k13 commented on #1000
Yeah - we also get the 'undefined is not a function' too - same file. v^2.1.3 Not sure if this screener will help track it down:

![image](https://user-images.githubusercontent.com/12815952/115019660-6670ca80-9eb1-11eb-8d02-63293f082d47.png)

[2021-04-16 12:34] kyrylo commented on #1000
@itb2k13 great find, I think that's exactly the problem here.

[2021-04-16 13:15] #1000 closed

[2021-04-16 15:15] kyrylo commented on #1000
Should be fixed in v2.1.4.

[2021-05-26 09:18] MathieuDerelle opened #1028 "is package `airbrake-js` posting to `api.airbrake.io` ? (and not `airbrake.io`)"
sorry, not sure where to post this

On airbrake.io, we are alerted that posting errors to `airbrake.io` directly is deprecated and should be done through `api.airbrake.io`

This page states which notifiers are affected
https://airbrake.io/try/updating-notifiers-to-use-correct-endpoint#javascript-notifier

but it does not say if users of airbrake-js (prior to split in @airbrake/node @airbrake/brows

[2021-05-26 17:28] mmcdaris commented on #1028
Hi @MathieuDerelle, thanks for writing in! The deprecated `node-airbrake` package has been using `api.airbrake.io` [since version v0.2.6](https://github.com/airbrake/node-airbrake/compare/v0.2.5...v0.2.6). I do recommend upgrading to use the [official airbrake/@node package](https://www.npmjs.com/package/@airbrake/node).

Let me know if that answers things for you. If not please share the airbrake

[2021-05-26 18:08] thompiler commented on #1028
Hey @MathieuDerelle adding on to what @mmcdaris mentioned, older versions of airbrake-js (before the browser and node packages) that I can see all point to `api.airbrake.io`. The oldest one I have seen is `0.4.2`. You can check this yourself here:
https://cdnjs.cloudflare.com/ajax/libs/airbrake-js/0.4.2/client.js

Look for the line referencing `https://api.airbrake.io`.

Is there a specific versio

[2021-05-28 09:22] MathieuDerelle commented on #1028
We have several project in `nuxt` (equivalent of `next` but for `vuejs`) using `airbrake-js` (with different versions : `1.5.0`, `1.6.3`, `1.6.8`, `v2.0.0-beta.2`)
But it's not easy to migrate from the old package to the new one, we have to split all code between backend and frontend.

Nuxt is missing a module for airbrake. Could be inspired by the sentry module
https://github.com/nuxt-community/s

[2021-05-28 19:12] thompiler commented on #1028
Hi @MathieuDerelle,

I'd be happy to let the team know about this request. Could you share a little information about this:

Would adding an Airbrake module like the example one you provided fix this issue you mentioned? ie: would you monitor both frontend and backend errors without any added setup needed?

[2021-06-02 14:06] #745 closed

[2021-06-04 21:31] juanisorondo opened #1042 "Missing version 1.6.6"
Commit a465b57dc9aaeae3fb8fda51a1867c76685954c8 used to be tagged as v1.6.6, version which our application depended on.
It appears this version tag has been deleted, and I would like to ask why?

Furthermore, the nearest downwards version (1.4.2) is clearly wrong since it is further in the future that 1.6.6 used to be, breaking backwards compatibility.

[2021-06-07 11:11] capsulejj opened #1043 "notice.id & notice.url do not show up in response"
npm v2.1.5 @airbrake/browser

This is what mentioned in the document:

let promise = airbrake.notify(`user id=${user_id} not found`);
promise.then((notice) => {
  if (notice.id) {
    console.log('notice id', notice.id);
  } else {
    console.log('notify failed', notice.error);
  }
});

However, in real code, notice.id is undefined.
Would you please revise?
Thanks!

[2021-06-07 13:41] sgray commented on #1043
Are you sure the request is succeeding? I've just tested this locally, and `notice.id` is defined as expected.

[2021-06-07 22:58] scottsbaldwin commented on #1042
@sgray can you take a look at this?

[2021-06-08 13:10] sgray commented on #1042
Hi, @juanisorondo. I'm not sure when this tag was deleted, but I don't think it was anytime recently. Presumably, this is related to https://github.com/airbrake/airbrake-js/issues/602. I recommend upgrading to the latest `@airbrake/browser` or `@airbrake/node` notifier if you can. If that doesn't work for you, you can continue to depend on that commit by its SHA.

[2021-06-08 13:10] #1042 closed

[2021-06-09 00:34] #1043 closed

[2021-06-17 12:32] MathieuDerelle commented on #1028
Sorry for the late answer

Yes that would help to easily integrate `airbrake` in `nuxt`

in our most recent project, we have written 2 plugins [(in the nuxt sense)](https://fr.nuxtjs.org/docs/2.x/directory-structure/plugins/)
[code]

`airbrake-nuxt.client.js` imports `@airbrake/browser`
`airbrake-nuxt.server.js` imports `@airbrake/node`

each plugin has its own filters (in the sense of airbrake's

[2021-06-17 13:01] MathieuDerelle commented on #1028
it also need to add an error middleware in nuxt

I've just found out about your express instrumentation
https://github.com/airbrake/airbrake-js/tree/master/packages/node/examples/express
It would work for us, because we use an hybrid express / [connect](https://github.com/senchalabs/connect) config

But [nuxt uses connect by default](https://nuxtjs.org/docs/2.x/configuration-glossary/configuration

[2021-06-28 15:48] paul-mesnilgrente opened #1063 "CORS issues with @airbrake/browser"
# 🐞 bug report

### Affected Package
@airbrake/browser

### Description

I used the React example in a rails/react app but I'm getting this error:

due to (in firefox, equivalent error in chrome)

## 🔥 Exception or Error
Also got:
<pre><code>
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://notifier-configs.airbrake.io/2020-06-18/config/124730/c

[2021-06-28 16:14] scottsbaldwin commented on #1063
Thanks @paul-mesnilgrente, we'll take a look!

[2021-06-28 16:17] paul-mesnilgrente commented on #1063
I created a simple reproducible example here: https://github.com/paul-mesnilgrente/rails-react-airbrake

The README is showing the instructions to have the server running locally.

[2021-06-28 16:17] scottsbaldwin commented on #1063
@paul-mesnilgrente please go to your project settings page and regenerate the API key since your original description above included your API key (and this is a public repo). I have edited the description to redact your API key.

[2021-06-28 16:19] paul-mesnilgrente commented on #1063
Ah true, will do!

[2021-06-28 16:20] scottsbaldwin commented on #1063
Thanks for the sample repo!

[2021-06-28 16:20] paul-mesnilgrente commented on #1063
Note that the important commit is here: https://github.com/paul-mesnilgrente/rails-react-airbrake/commit/2145da92a2013b5d084158d8ca6f43901acb6599

[2021-06-28 16:27] scottsbaldwin commented on #1063
@thompiler could you take a look into this?

[2021-06-28 18:20] thompiler commented on #1063
Yes, I will take a look at this. 👍

Thanks for providing a full example app!

[2021-06-28 20:18] paul-mesnilgrente commented on #1063
Let me know if you hit issues running it :)

[2021-06-28 20:27] thompiler commented on #1063
Will do. Thanks!

[2021-06-29 13:59] paul-mesnilgrente commented on #1063
Hi! I could reproduce the problem in a simple create-react-app to make sure it wasn't related to some rails config. I actually found that problem is coming from the "AdBlock Plus" extension I use

![image](https://user-images.githubusercontent.com/4416830/123810855-08218880-d8f3-11eb-9955-c9c8473e003d.png)

[2021-06-29 13:59] #1063 closed

[2021-06-30 18:39] thompiler commented on #1063
Hi Paul!

Thanks so much for the update! Glad you found the cause of the issue. That's good to know about the extension. I actually use that it as well.

Let us know if anything else comes up.

Happy Airbraking!

[2021-06-30 21:11] paul-mesnilgrente commented on #1063
It's interesting that you never had this issue. Do you have an explanation why?

[2021-07-01 02:34] rickthepick opened #1069 "Loading airbrake.js on-demand in the browser"
I don't want to load airbrake-js for my lightweight pages when the page loads.  Instead I want to load airbrake-js after the error occurs by dynamically attaching a "script" tag to the page.  Is there support for this?

[2021-07-01 20:43] thompiler commented on #1063
I'm not sure, if you'd like I can try fresh with your example though. We have run into adblocker issues in the past with extensions like Ghostery and other "tracker blocking" services lumping in Airbrake with ad trackers. I don't remember adblock plus coming up but it may have.

[2021-08-17 18:34] rdadoune opened #1104 "Relative import breaks Yarn Berry Plug'n'Play"
# 🐞 bug report

### Affected Package

 The issue is caused by package @airbrake/node

### Is this a regression?

Yes. Looks like this bug was introduced ~6 months ago here:
https://github.com/airbrake/airbrake-js/commit/78387b647b7fa2cd89b738171a1999ac29c989eb#diff-ee255d4819b7e98c3487cb7f6feb2964841189ce14b06654ea25507701df053b

### Description
This relative import breaks Yarn 2 [Plug'n'Play](htt

[2021-08-19 07:02] kyrylo commented on #1104
Thanks for the bug report. I can't remember why I used a relative import but there are more in the PR that you linked. Do you think all of them would have the same problem?

[2021-08-23 05:27] rdadoune commented on #1104
Yeah, but only for relative imports that reach outside the scope of the package.

[2021-09-10 09:47] iiewad opened #1116 "The Nestjs airbrake notifier adapter!!!"
# 🚀 feature request

### Relevant Package

 This feature request is for @airbrake/airbrake-js

### Description
Nestjs airbrake Notifier adapter

### Describe the solution you'd like
null

### Describe alternatives you've considered
null

[2021-09-14 21:38] seuros commented on #1069
Airbrake need to be loaded to catch the error the first time.

[2021-09-15 06:58] christiansaiki opened #1120 "Reduce package size"
# 🚀 feature request
Please reduce the package size or have documentation of how to only import what we need to use to notify airbrake of errors.

### Relevant Package
@airbrake/browser

### Description
I thought that moving from airbrake-js to @airbrake/browser would make a huge improvement in bundle size, but it's kind of strange that the parsed size is bigger actually.

![image](https://user-ima

[2021-09-15 20:45] destari commented on #1120
Thanks! We'll check it out! Definitely want smaller.. :)

[2021-09-15 23:03] christiansaiki commented on #1120
Thank you so much @destari

[2021-09-20 22:31] scottsbaldwin commented on #1069
@sgray can you think of a way to do this? I haven't tried this, but I suppose if you were sending errors to Airbrake manually something like this could work:

[code]

[2021-09-22 16:09] sgray commented on #1069
Yes, that setup should definitely work. I can't think of a way to enable automatic error catching, but the manual `try/catch` like you've written would work fine to load Airbrake on-demand.

[2021-09-22 16:09] #1069 closed

[2021-09-22 16:16] scottsbaldwin commented on #1069
Thanks @sgray

[2021-09-30 15:32] jlowcs commented on #916
I'm still experiencing this issue on 2.1.5. It's adding a lot of noise in the console and in the terminal when building with webpack.

[2021-12-28 14:55] stianlp commented on #916
+1 Experiencing the same

[2022-01-19 02:11] matheusgoc opened #1193 "Params not passed on notify method with React ErrorBoundary"
# 🐞 bug report

### Affected Package
The issue is caused by the package [`@airbrake/browser`](https://github.com/airbrake/airbrake-js/tree/master/packages/browser) used on a React app when implemented with `ErrorBoundary` as recommended [here](https://github.com/airbrake/airbrake-js/tree/master/packages/browser/examples/react).

### Is this a regression?
No, the same issue is gotten on versions `^

[2022-01-21 23:01] palmtown opened #1197 "This dependency was not found: * async_hooks in ./node_modules/@airbrake/node/esm/scope.js"
# 🐞 bug report

### Affected Package

 The issue is caused by package @airbrake/....
@airbrake/node 2.1.7

### Is this a regression?  No, first time using the the airbrake version.

 Yes, the previous version in which this bug was not present was: ....

### Description

 A clear and concise description of the problem...
I installed @airbrake/node in my project, ran it and the error was generated:

[2022-01-28 04:21] jboler commented on #916
I'm also seeing this with a React app using `create-react-app` v5.0.0

[2022-02-01 09:17] pbankhe opened #1204 "Object Not Found Matching Id:3"
# 🐞 bug report

### Description

We get the error `Object Not Found Matching Id:3` while calling airbrake APIs.

## 🔥 Exception or Error
<pre><code>
Object Not Found Matching Id:3
</code></pre>

## 🌍  Your Environment

<pre><code>
@airbrake/browser: "2.1.7"
</code></pre>

**Anything else relevant?**
Issue observed on airbrake version "2.1.7" and " "2.1.5".

[2022-02-07 16:41] konraddzbik opened #1207 "Github security alerts"
# 🐞 bug report

### Affected Package
@airbrake/browser@2.1.7

### Description
Did you guys consider to setup GitHub security alerts and updating vulnerabilities?
![image](https://user-images.githubusercontent.com/57986737/152832012-6ef256ee-a45f-4492-95e2-6af1ef8698d9.png)

[2022-02-08 15:46] ntinkler-calendly commented on #398
I'm seeing the current release of @airbrake/browser ("@airbrake/browser": "^2.1.7") fail in service worker environments because it uses cross-fetch, which defaults to using XHR even when fetch apis are present.  Note that XHR is not available in service worker contexts (Such as a manifest v3 chrome extension background script)

The resulting error is:
[code]

Does anyone have a way to work around

[2022-02-08 17:24] ntinkler-calendly commented on #398
Alright - A little more testing and I can confirm that it's *just* the one misbehaving cross-fetch dep that's blocking this right now.

if I simply remove the import of cross-fetch in node_modules/@airbrake/browser/esm/http_req/fetch.js
[code]

Then I can properly report errors from the service worker context available in web extensions.

[2022-02-08 17:35] ntinkler-calendly opened #1209 "Cross-Fetch dep is trying to use XHR in service-worker context."
# 🐞 bug report

### Affected Package
"@airbrake/browser": "^2.1.7"

depends on
cross-fetch: ^3.0.4

### Is this a regression?

I'm not sure.  There is a 2018 ticket that implies that at one point Airbrake was working in service workers, but I cannot confirm this is the case. https://github.com/airbrake/airbrake-js/issues/398

### Description

Cross-fetch is attempting to polyfill fetch with an XHR

[2022-02-08 17:42] ntinkler-calendly commented on #1209
Note - Simply removing the import of cross-fetch results in a working Notifier for the extension service workers

ex:
[code]

So it is just this one misbehaving dependency that is blocking support for this environment.

[2022-02-25 12:51] tavareshenrique opened #1218 "[Documentation] Version 1 to Version 2 Migration Guide"
The project I'm working on has `@airbrake/node` in version `1.0.6` and `@airbrake/browser` in version `1.1.0`.

I would like to update `@airbrake/node` to the latest version, in this case version `2.1.7` and `@airbrake/browser` to version `2.1.7` as well.

But I didn't find any migration guides or any section in the documentation warning if there was any `Break Change` in the upgrade from version

[2022-02-28 07:45] sunpietro commented on #916
I confirm. It's still an issue with CRA v5.0.0

[2022-02-28 08:16] martisj commented on #916
Experiencing this issue as well 😿

[2022-03-08 05:20] supersime opened #1222 "Unable to post sourcemaps to /v4/projects/:projectId/sourcemaps"
We are using `curl` to `POST` sourcemaps to airbrake in a bash script. It has previously worked and about a week ago stopped working and we have started getting 401 errors.

We have not changed any code on our end. This issue is not specific to the airbrake-js library however your Customer Success Manager suggested I raise the issue here.

This is the `curl` command we use:

[code]

and this is th

[2022-03-08 05:53] supersime commented on #1222
Ah my bad.
I took a copy of our primary script (which does a whole lot more than just uploading the sourcemaps), so I could just upload the sourcemaps. And, of course, a copy and paste error.
I see now that in the `Authorization` header I was passing in the project Id and not the project Key.
Apologies. Hopefully you didn't even get to spend any time on this!
There definitely was an issue but you

[2022-03-08 05:53] #1222 closed

[2022-03-09 19:02] ryanehrler commented on #916
Same here.

I rebuilt the lib using `"inlineSources": true`, and published here -

[airbrake-browser-esm](https://www.npmjs.com/package/airbrake-browser-esm)

[2022-03-09 19:21] sunpietro commented on #916
@ryanehrler awesome. I'll check that

[2022-03-09 19:40] nthatcher-airbrake commented on #1222
@supersime Happy to hear that you were able to get this resolved!

[2022-03-10 13:16] philippotto opened #1223 "Too aggressive error grouping"
# 🐞 bug report

### Affected Package

The issue is caused by package `@airbrake/browser": "^2.1.7"`

### Is this a regression?

I'm not sure since the bug appears not that often.

### Description
As it can be seen in the screenshot, unrelated errors are aggregated together in the UI. I'm not sure if the bug is really in airbrake-js, but I was advised to open a bug here. I don't see why the two dif

[2022-03-24 03:04] DawidJanczak opened #1227 "No backtrace on error"
# 🐞 bug report

### Affected Package

The issue is caused by package @airbrake/browser v2.1.7

### Is this a regression?

No

### Description

One of the errors reported to us by Airbrake lacks stack trace and we're trying to figure out why that might be. The error is ```TypeError:  Cannot read properties of undefined (reading 'price')``` and the backtrace section just says `:1:99` We're getting 1

[2022-03-29 01:48] mercmobily commented on #832
I am having the same problem, and this is a _huge_ showstopper... any news on this one?

[2022-03-29 07:52] mercmobily commented on #832
Sorry, I meant to write this comment on a VERY similar issue on RollUp...

[2022-03-29 13:32] nthatcher-airbrake commented on #1227
Hello Dawid,

Is this error without a backtrace isolated to any specific population? eg:
- A specific browser
- A specific IP
- Anything else odd in the aggregations

[2022-03-31 05:04] DawidJanczak commented on #1227
Hello Nicolas,

- The vast majority of occurrences (99.98% out of almost 19000) are on Chrome with only 2 occurrences happening on Opera. Chrome versions vary, but majority is between 96 and 99.
- There are 1730 unique IP addresses recorded.
- Nothing else that looks odd to me. It seems to be hitting all our URLs, platforms vary greatly too. The two things that that _are_ consistent are browser en

[2022-04-11 17:41] nthatcher-airbrake commented on #1227
Adding @scottsbaldwin for visibility

[2022-04-21 14:55] amoedoamorim commented on #1193
@matheusgoc I'm encountering the same behavior. However I've found that it seems to work when the error is a string instead of an Error object. It also works when I wrap the error in a new instance. e.g.:

[code]
I have no idea why, but this is how I'm currently working around it.

[2022-06-06 11:41] madhusudhanv255 opened #1258 "Uncaught ReferenceError: Notifier is not defined"
# 🐞 bug report

### Affected Package

 The issue is caused by package @airbrake/browser

### Description

 We are trying to upgrade airbrake  in our angularjs 1.5.7 project. I have installed @airbrake/browser and included in head of index.html and followed same steps as given in git for angularjs  but its giving Uncaught ReferenceError: Notifier is not defined error. Do we need to install any sepa

[2022-06-07 18:41] thompiler commented on #1258
Hi @madhusudhanv255,

There might be an error in the instructions. Can you try accessing the `Notifier` through `Airbrake` like this?

Example hello world app with Airbrake and AngularJS 1.5.7:

#### `index.html`
[code]

### `app.js`

[code]

[2022-06-23 14:46] ldeveber opened #1264 "security update: cross-fetch"
# 🐞 bug report

### Affected Package

 The issue is caused by package @airbrake/....
browser and maybe node too...?

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

 A clear and concise description of the problem...

<img width="1253" alt="Screen Shot 2022-06-23 at 10 42 33 AM" src="https://user-images.githubusercontent.com/445775

[2022-07-25 15:24] #702 closed

[2022-11-05 00:01] noctivityinc opened #1298 "Airbrake not globally available when using webpacker"
# 🐞 bug report
When following the instructions for rails and adding airbrake via yarn and then adding to application.is in packs, airbrake is not available within any functions in the rest of the app so airbrake.notify fails.

[2022-11-07 16:52] gzmarstone opened #1301 "Using blocklist with "name" filters out notifier name"
# 🐞 bug report

### Affected Package
airbrake-js browser

### Is this a regression?
As far as I am aware this has never worked.

### Description
When the keysBlocklist contains "name" the notifier name is reported as "[Filtered]"

This is the notifier section when viewed through the airbrake console:
"notifier": {
    "name": "[Filtered]",
    "url": "https://github.com/airbrake/airbrake-js/tree/m

[2022-11-07 17:49] gzmarstone commented on #1301
This also means that when we go to the performance monitoring page it tells us our notifier "[Filtered]" is not supported "Request Performance Monitoring for [Filtered]"

[2022-11-23 15:32] #1264 closed

[2022-11-25 17:18] #1301 closed

[2022-11-28 16:32] kyrylo commented on #629
Fixed by https://github.com/airbrake/airbrake-js/pull/1326.

[2022-11-28 16:32] #629 closed

[2022-11-28 22:16] ldeveber commented on #1264
Would it be possible to get a release soon for this @kyrylo ? Thank you in advance ^_^

[2022-11-29 08:06] kyrylo commented on #1264
Sure thing 👌
Could you confirm that this change actually solves the problem for you?

[2022-11-29 14:16] ldeveber commented on #1264
It does, thank you so much!

[2022-11-30 21:18] ldeveber commented on #1264
is there a planned time already for when the next release will be?